<md-dialog layout="column" class="dialog--basket">
    <md-content flex>
        <header class="dialog_header">
            <h2>Корзина <span ng-if="vm.order">(заказ {{vm.order.id.substr(0,6)}} от {{vm.order.date |date:'dd-MM-yyyy'}} {{vm.order.date |date:'hh-mm-ss'}})</span></h2>
        </header>
        <div class="dialog_content" layout="column" layout-align="start start">
            <div layout="row" layout-align="end center" layout-fill>
                <md-button ng-click="clearBasket();">Очистить</md-button>
                <md-button ng-click="saveToBasket();">Применить</md-button>
            </div>
            <md-tabs md-dynamic-height md-border-bottom class="basket-info-container">
                <md-tab label="Товары">
                    <table class="basket-items">
                        <tr>
                            <th class="td_30">Название</th>
                            <th class="td_5">Код</th>
                            <th class="td_20 basket-item--center basket-item__cost">Цена</th>
                            <th class="td_10 basket-item--center">К-во</th>
                            <th class="td_20">Действие</th>
                            <th class="td_15 basket-item--right">Стоимость</th>
                        </tr>
                    </table>
                    <div class="basket-items__container">
                        <table class="basket-items" ng-repeat="item in basketItems">
                        <tr class="basket-item">
                            <td class="td_30">{{item.name}}</td>
                            <td class="td_5">{{item.code}}</td>
                            <td class="td_20 basket-item__cost basket-item--center" ng-if="vm.userData.isAdmin">
                                <input ng-model="item.customPrice" ng-change="calculateTotalValues();" class="basket-item__price-editor"/>
                                <span>{{item.price.currency}}</span>
                            </td>
                            <td class="td_20 basket-item__cost basket-item--center" ng-if="!vm.userData.isAdmin">{{item.price.cost}} {{item.price.currency}}</td>
                            <td class="td_10 basket-item--center">{{item.count}}</td>
                            <td class="td_20">
                                <md-button class="md-primary action-button" ng-click="incrementCount(item)">
                                    <span class="glyphicon glyphicon-plus" aria-label="Increment items count"></span></md-button>
                                <md-button class="md-primary action-button" ng-click="decrementCount(item)">
                                    <span class="glyphicon glyphicon-minus" aria-label="Decrement items count"></span></md-button>
                                <md-button class="md-warn action-button" aria-label="Remove item from set" ng-click="removeItem(item)">
                                    <span class="glyphicon glyphicon-remove"></span></md-button>
                            </td>
                            <td class="td_15 basket-item--right" ng-if="vm.userData.isAdmin">{{(item.customPrice*item.count).toFixed(2)}} {{item.price.currency}}</td>
                            <td class="td_15 basket-item--right" ng-if="!vm.userData.isAdmin">{{(item.price.cost*item.count).toFixed(2)}} {{item.price.currency}}</td>
                        </tr>
                        <tr class="basket-items basket-items--children" ng-repeat="childitem in item.childrens">
                            <td class="td_30">{{childitem.name}}</td>
                            <td class="td_5 ">{{childitem.code}}</td>
                            <td class="td_20 basket-item__cost basket-item--center" ng-if="vm.userData.isAdmin">
                                <input ng-model="childitem.customPrice" ng-change="calculateTotalValues();" class="basket-item__price-editor"/>
                                <span>{{childitem.price.currency}}</span>
                            </td>
                            <td class="td_20 basket-item__cost basket-item--center" ng-if="!vm.userData.isAdmin">{{childitem.price.cost.toFixed(2)}} {{childitem.price.currency}}</td>
                            <td class="td_10 basket-item--center">{{childitem.count}}</td>
                            <td class="td_20">
                                <md-button class="md-primary action-button" ng-click="incrementCount(childitem)">
                                    <span class="glyphicon glyphicon-plus" aria-label="Increment items count"></span></md-button>
                                <md-button class="md-primary action-button" ng-click="decrementCount(childitem)">
                                    <span class="glyphicon glyphicon-minus" aria-label="Decrement items count"></span></md-button>
                                <md-button class="md-warn action-button" ari a-label="Remove item from set" ng-click="removeItem(childitem, item)">
                                    <span class="glyphicon glyphicon-remove"></span></md-button>
                            </td>
                            <td class="td_15 basket-item--right" ng-if="vm.userData.isAdmin">{{(childitem.customPrice*childitem.count).toFixed(2)}} {{childitem.price.currency}}</td>
                            <td class="td_15 basket-item--right" ng-if="!vm.userData.isAdmin">{{(childitem.price.cost*childitem.count).toFixed(2)}} {{childitem.price.currency}}</td>
                        </tr>
                    </table>
                    </div>
                    <div layout="row" layout-align="end center" layout-fill class="basket-total">
                        <span>Итого:</span>
                        <span><b>{{total.toFixed(2)}} грн.</b></span>
                        <span><b>+ {{totalUsd}} usd.</b></span>
                    </div>
                </md-tab>
                <md-tab label="Коммментарий">
                        <textarea class="basket-comment" ng-model="vm.comment"></textarea>
                </md-tab>
                <md-tab label="Детали">
                        <ng-form name="itemForm" novalidate class="basket-details">
                            <md-input-container>
                                <label>Поставщик</label>
                                <input type="text" name="supplier" ng-model="vm.details.supplier">
                            </md-input-container>
                            <md-input-container>
                                <label>Кому</label>
                                <input type="text" name="whom" ng-model="vm.details.whom">
                            </md-input-container>
                            <md-input-container>
                                <label>Через кого</label>
                                <input type="text" name="overWhom" ng-model="vm.details.overWhom">
                            </md-input-container>
                            <md-input-container>
                                <label>Довепенность</label>
                                <input type="text" name="attornay" ng-model="vm.details.attornay">
                            </md-input-container>
                            <md-input-container>
                                <label>На основании</label>
                                <input type="text" name="cause" ng-model="vm.details.cause">
                            </md-input-container>
                        </ng-form>
                </md-tab>
            </md-tabs>
        </div>
    </md-content>
    <footer class="md-actions dialog_footer">
        <md-button class="md-primary" ng-click="updateItems();" ng-if="vm.order">Обновить текущий заказ</md-button>
        <md-button class="md-primary" ng-click="orderItems();">Оформить новый заказ</md-button>
        <md-button ng-click="cancel()">Закрыть</md-button>
    </footer>
</md-dialog>
