<div class="contact">
    <div class="contact-person">Михаил Романович</div>
    <div class="contact-number">
        <table>
            <tr>
                <td class="contact-icon">
                    <span class="contact-number--mts">        </span>
                </td>
                <td class="contact-data">
                    <span>095-585-79-13</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="contact-person">Инна</div>
    <div class="contact-number">
        <table>
            <tr>
                <td class="contact-icon">
                    <span class="contact-number--mts"></span></td>
                <td class="contact-data">
                    <span>066-629-48-89</span></td>
            </tr>
        </table>
    </div>
    <div class="contact-number">
        <table>
            <tr>
                <td class="contact-icon"><span class="contact-number--kyivstar"></span></td>
                <td class="contact-data"><span>097-859-17-67</span></td>
            </tr>
        </table>
        </div>

    <div class="contact-person">Юра</div>
    <div class="contact-number">
        <table>
            <tr>
                <td class="contact-icon"><span class="contact-number--mts"></span></td>
                <td class="contact-data"><span>066-719-88-04</span></td>
            </tr>
            <tr>
                <td class="contact-icon"><span class="contact-number--kyivstar"></span></td>
                <td class="contact-data"><span>067-571-24-62</span></td>
            </tr>
            <tr>
                <td class="contact-icon"><span class="contact-number--email"></span></td>
                <td class="contact-data"><span>piligrim-333@mail.ru</span></td>
            </tr>
        </table>
    </div>
</div>

