<div class="orders">
        <div class="main-content">
        <md-tabs md-dynamic-height md-border-bottom class="order-tabs">
            <md-tab label="Заказы">
                <md-content>
                    <div class="order-items">
                        <div class="order-item--header">
                            <table class="order-item">
                                <tr>
                                    <th class="td_5"></th>
                                    <th class="td_5">Код</th>
                                    <th class="td_10">Дата</th>
                                    <th class="td_35">Кто/Кому</th>
                                    <th class="td_10 text-center">Стоимость</th>
                                    <th class="td_5">Подтв.</th>
                                    <th class="td_20">Комментарий/Отзыв</th>
                                    <th class="td_5 text-center">Дост.</th>
                                    <th class="td_5">Вып.</th>
                                </tr>
                            </table>
                        </div>
                        <div class="order-item--content">
                            <table class="order-item">
                                <tr ng-repeat="order in saleOrders | orderBy:'orderNumber':false"
                                        ng-click="setCurrentOrder(order);"
                                        ng-class="{'is-selected':selectedOrder.id == order.id}">
                                    <td class="td_5">{{order.orderNumber}} </td>
                                    <td class="td_5">{{order.id.substr(0,6)}} </td>
                                    <td class="td_10">{{order.date |date:'dd-MM-yyyy'}} <br/> {{order.date |date:'hh-mm-ss'}} </td>
                                    <td class="td_35">{{order._user.fio}}</td>
                                    <td class="td_10 text-center">{{order.price}} грн. <br/> {{order.priceDollars}} usd.</td>
                                    <td class="td_5">
                                        <md-checkbox aria-label="is Approved" ng-disabled="true" ng-model="order.isApproved" />
                                    </td>
                                    <td class="td_20">{{order.comment|limitTo:25}} <br/> {{order.response|limitTo:25}}</td>
                                    <td class="td_5 text-center">{{order.deliveryCost}}</td>
                                    <td class="td_5"><md-checkbox aria-label="is Completed" ng-disabled="true" ng-model="order.isCompleted" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        <md-tab label="товары" ng-show="selectedOrder">
            <md-content>
                <div class="order-item-details" ng-if="selectedOrder._saleOrderDtl">
                    <div class="order-item-details-header">
                        <table class="order-item-details">
                            <tr>
                                <th class="td_5"></th>
                                <th class="td_25">Товар</th>
                                <th class="td_10 text-center">Код</th>
                                <th class="td_20">Категория</th>
                                <th class="td_10 text-center">К-во</th>
                                <th class="td_20 text-center">Цена</th>
                                <th class="td_10 text-center">Сумма</th>
                            </tr>
                        </table>
                    </div>
                    <div class="order-item-details-content">
                        <table class="order-item-details">
                            <tr ng-repeat="orderDetail in selectedOrder._saleOrderDtl">
                                <td class="td_5">
                                    <img class="order-item-details__small-img" ng-src="{{orderDetail._saleItem.pictureSrc}}"
                                         ng-click="showPhoto(orderDetail._saleItem.name, orderDetail._saleItem.pictureSrc);" />
                                </td>
                                <td class="td_25">{{orderDetail._saleItem.name}}</td>
                                <td class="td_10 text-center">{{orderDetail._saleItem.code}}</td>
                                <td class="td_20">{{orderDetail._saleItem._category.name}}</td>
                                <td class="td_10 text-center">{{orderDetail.count}}</td>

                                <td class="td_20 text-center" ng-if="orderDetail.customPrice"> {{orderDetail.customPrice}} {{orderDetail._saleItem._price.currency}}</td>
                                <td class="td_20 text-center" ng-if="!orderDetail.customPrice"> {{orderDetail._saleItem._price.cost}} {{orderDetail._saleItem._price.currency}}</td>

                                <td class="td_10 text-center" ng-if="orderDetail.customPrice">{{(orderDetail.customPrice * orderDetail.count).toFixed(2)}} {{orderDetail._saleItem._price.currency}}</td>
                                <td class="td_10 text-center" ng-if="!orderDetail.customPrice">{{(orderDetail._saleItem._price.cost * orderDetail.count).toFixed(2)}} {{orderDetail._saleItem._price.currency}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="детали" ng-show="selectedOrder && vm.userData.isAdmin">
            <md-content>
                    <ng-form name="itemForm" novalidate>
                        <div layout="row" layout-align="start center">
                            <md-input-container flex>
                                <label>Поставщик</label>
                                <input type="text" name="supplier" ng-model="selectedOrder._saleOrderHeader.supplier">
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="start center">
                            <md-input-container flex>
                                <label>Кому</label>
                                <input type="text" name="whom" ng-model="selectedOrder._saleOrderHeader.whom">
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="start center">
                            <md-input-container flex>
                                <label>Через кого</label>
                                <input type="text" name="overWhom" ng-model="selectedOrder._saleOrderHeader.overWhom">
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="start center">
                            <md-input-container flex>
                                <label>На основании</label>
                                <input type="text" name="cause" ng-model="selectedOrder._saleOrderHeader.cause">
                            </md-input-container>                        </div>
                        <div layout="row" layout-align="start center">
                            <md-input-container flex>
                                <label>Адрес получателя</label>
                                <input type="text" name="attornay" ng-model="selectedOrder._saleOrderHeader.attornay">

                            </md-input-container>
                        </div>

                    </ng-form>
                <md-button class="md-primary" ng-click="saveHeader();">Сохранить</md-button>
                <md-button class="md-primary" ng-click="copyHeader();">Скопировать в корзину</md-button>
            </md-content>
        </md-tab>
        <md-tab label="примечания" ng-show="selectedOrder">
            <md-content>
                    <md-input-container>
                        <label>Коментарий</label>
                        <input type="text" name="supplier" ng-disabled="selectedOrder.isApproved" ng-model="selectedOrder.comment">
                    </md-input-container>
                    <md-input-container>
                        <label>Отзыв</label>
                        <input type="text" name="response" ng-model="selectedOrder.response">
                    </md-input-container>
                <md-button class="md-primary" ng-click="saveComments();">Сохранить</md-button>
            </md-content>
        </md-tab>
        <md-tab label="управление" ng-show="selectedOrder && vm.userData.isAdmin">
            <md-content>
                <div layout="row" layout-align="start center">
                    <md-input-container flex>
                        <label>Доставка</label>
                        <input type="text" name="deliveryCost" ng-model="selectedOrder.deliveryCost">
                    </md-input-container>

                    <div flex>
                        <md-checkbox aria-label="is Approved"  ng-model="selectedOrder.isApproved" ng-checked="selectedOrder.isApproved"/>
                        <label>Подтвержден</label>
                    </div>
                    <div flex>
                        <md-checkbox aria-label="is Completed"  ng-model="selectedOrder.isCompleted" ng-checked="selectedOrder.isCompleted"/>
                        <label>Выполнен</label>
                    </div>
                </div>
                <md-button class="md-primary" ng-click="saveManagement();">Сохранить</md-button>
                </md-content>
        </md-tab>
    </md-tabs>
    </div>
    <div layout="row" layout-align="space-between center" class="orders__actions-block" ng-show="selectedOrder">
        <div class="actions">
            <md-button class="action-button md-primary"
                       ng-show="vm.userData.isAdmin"
                       title="Добавить в корзину"
                       ng-click="copyToBasket()">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <span>Добавить в корзину</span>
            </md-button>
            <md-button class="action-button md-primary" ng-hide="selectedOrder.isApproved || selectedOrder.isCompleted"
                       title="Изменить заказ" ng-click="copyOrderItems()"><span class="glyphicon glyphicon-edit"></span> <span>Изменить заказ</span>
            </md-button>
            <md-button class="action-button md-primary" title="Печать" ng-click="print();">
                <span class="glyphicon glyphicon-print"></span>
                <span>Печать</span>
            </md-button>

            <md-button class="action-button md-primary" title="Вниз" ng-click="changeOrderDown();"
                       layout="column" layout-align="center center">
                <span class="glyphicon glyphicon-download"></span>
            </md-button>

            <md-button class="action-button md-primary" title="Вверх" ng-click="changeOrderUp();"
                       layout="column" layout-align="center center">
                <span class="glyphicon glyphicon-upload"></span>
            </md-button>
        </div>
        <div class="actions">
            <md-button class="action-button md-warn" ng-hide="selectedOrder.isApproved || selectedOrder.isCompleted"
                       title="Удалить" ng-click="removeOrder();">
                <span class="glyphicon glyphicon-remove"></span>
                <span>Удалить</span>
            </md-button>
        </div>
    </div>
</div>