<div>
    <table>
        <tr style="background-color: transparent !important">
            <td>
                <label style="width: 200px;">День </label>
                <input ng-model="order.day"/>
            </td>
            <td>
                <label style="width: 200px;">Месяц </label>
                <input ng-model="order.month"/>
            </td>
            <td>
                <label style="width: 200px;">Год </label>
                <input ng-model="order.year"/>
            </td>
        </tr>
        <tr style="background-color: transparent !important">
            <td>
                <label style="width: 200px;">Автомобіль </label>
                <input ng-model="order.lorry"/>
            </td>
            <td>
                <label style="width: 200px;">Автомобільний перевізник </label>
                <input ng-model="order.carrier"/>
            </td>
            <td>
                <label style="width: 200px;">Водій </label>
                <input ng-model="order.driver"/>
            </td>
        </tr>
        <tr>
            <td>
                <label style="width: 200px;">Позиций на странице: </label>
                  <input type="number" ng-model="itemsOnPage"/>
            </td>
            <td colspan="2"></td>    
        </tr>
    </table>
</div>
<div style="display: flex; flex-direction: row">
<div class="ttn">
    <table>
        <tr>
            <td colspan="4" class="center"><h2>Товарно-транспортна накладна</h2></td>
        </tr>
        <tr>
            <td colspan="4" class="center">
                № <strong>{{order.number}}</strong> "{{order.day}}" {{order.month}}  {{order.year}}р.			
            </td>
        </tr>
        <tr>
            <td colspan="4">
                Автомобіль: <strong>{{order.lorry}}</strong></br>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="center smaller-text">
                (марка, модель, тип, реєстраційний номер)
            </td>
        </tr>
        <tr>
            <td colspan="4">
                Вид перевезень _______________<strong>вантажоперевезення</strong>_________________________
            </td>
        </tr>
        <tr>
            <td>Автомобільний перевізник: <strong>{{order.carrier}}</strong></td>
            <td>Водій:<strong> {{order.driver}}</strong> </td>
        </tr>
        <tr class="smaller-text center">
            <td>(найменування/П.І.Б.)</td>
            <td>(П.І.Б., номер посвідчення водія)</td>
        </tr>
        <tr>
            <td colspan="4">Замовник: _____________________<strong>ФО-П Шумний Ю. В.</strong>________________________
            </td>
        </tr>
        <tr>
            <td colspan="4" class="smaller-text center">
                (повне найменування, місцезнаходження/П.І.Б., місце проживання)				
            </td>
        </tr>
        <tr>
            <td colspan="4">
                Вантажоодержувач:  <strong>{{order.whom}}</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="smaller-text center">
                (найменування, місцезнахоження)
            </td>
        </tr>
        <tr>
            <td colspan="4">
                  Пункт навантаження___________________<strong>Харків</strong>______________________________
            </td>
        </tr>
        <tr>
            <td colspan="4" class="smaller-text center">
                (місцезнаходження)                                                                           				
            </td>
        </tr>
        <tr>
            <td colspan="4">
                Пункт розвантаження:  <strong>{{order.attornay}}</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="smaller-text center">
                (місцезнаходження)                                                                           				
            </td>
        </tr>
    </table>				
    <table class="bordered">
        <tr>
            <th>№ з/п</th>
            <th>Найменування вантажу</th>
            <th>Одиниця вимиру</th>
            <th>Кількість</th>
        </tr>
        <tr ng-repeat="item in order.items | limitTo:itemsOnPage">
            <td class="right">{{$index + 1}}</td>
            <td>{{item._saleItem.name}}&nbsp{{item._saleItem.code}}</td>
            <td class="right">шт.</td>
            <td class="right">{{item.count}}</td>
        </tr>
    </table>
<table ng-if="order.items.length <= itemsOnPage">
    <tr>
        <td class="td-60">Здав (відповідальна особа вантажовідправника)</td>
        <td>_______________________________</td>
    </tr>
    <tr>
        <td class="td-60">Прийняв водій/експедитор </td>
        <td>_______________________________</td>
    </tr>
    <tr>
        <td class="td-60">Здав водій/експедитор</td>
        <td>_______________________________</td>
    </tr>
    <tr>
        <td class="td-60">Прийняв(відповідальна особа вантажоодержувача)</td>
        <td>_______________________________</td>
    </tr>
</table>
</div>
<div div class="ttn" style="padding-left: 5px;">

<table ng-if="order.items.length > itemsOnPage" class="bordered">
        <tr>
            <th>№ з/п</th>
            <th>Найменування вантажу</th>
            <th>Одиниця вимиру</th>
            <th>Кількість</th>
        </tr>
        <tr ng-repeat="item in order.items | limitTo:(order.items.length-itemsOnPage):itemsOnPage">
            <td class="right">{{$index + 1}}</td>
            <td>{{item._saleItem.name}}&nbsp{{item._saleItem.code}}</td>
            <td class="right">шт.</td>
            <td class="right">{{item.count}}</td>
        </tr>
    </table>

<table ng-if="order.items.length > itemsOnPage">
    <tr>
        <td class="td-60">Здав (відповідальна особа вантажовідправника)</td>
        <td>_______________________________</td>
    </tr>
    <tr>
        <td class="td-60">Прийняв водій/експедитор </td>
        <td>_______________________________</td>
    </tr>
    <tr>
        <td class="td-60">Здав водій/експедитор</td>
        <td>_______________________________</td>
    </tr>
    <tr>
        <td class="td-60">Прийняв(відповідальна особа вантажоодержувача)</td>
        <td>_______________________________</td>
    </tr>
</table>
</div>
    </div>
