* {
  margin: 0;
  padding: 0; }

html, body {
  overflow: hidden; }

ul {
  list-style: none; }

h1, h2, h3 {
  margin-top: 20px !important;
  margin-bottom: 10px !important; }

.l-main {
  max-width: 1200px;
  width: 1200px;
  padding: 5px; }

.l-main__content {
  width: 1200px;
  top: 40px;
  bottom: 40px;
  position: absolute;
  overflow: auto; }

.l-main__header {
  width: 1200px;
  position: absolute;
  top: 0;
  border-bottom: 1px solid lightgray;
  padding: 5px 0;
  min-height: 40px;
  height: 40px; }
  .l-main__header .user-data {
    height: 40px;
    width: 130px;
    text-align: right; }
    .l-main__header .user-data .user-data__name {
      font-weight: 700; }

.l-main__footer {
  width: 1200px;
  bottom: 0;
  position: absolute;
  height: 40px;
  border-top: 1px solid lightgray;
  padding: 5px 0; }
  .l-main__footer .developer-info {
    position: absolute;
    right: 0; }

.grid .cell-item md-checkbox {
  margin: 0; }
.grid .cell-item md-checkbox[disabled] {
  cursor: default; }
.grid span.cell-item {
  display: block;
  margin-top: 5px;
  margin-left: 5px; }

/* main view elements */
.category-item {
  cursor: pointer;
  margin: 5px;
  width: 280px;
  height: 305px;
  border: 1px solid lightblue; }
  .category-item .category-item__name {
    height: 50px; }
  .category-item .category-item__photo img {
    max-height: 230px;
    max-width: 230px; }
  .category-item:hover {
    background-color: lightblue; }
  .category-item.category-item--active {
    background-color: lightskyblue; }

.sale-item {
  margin: 5px;
  width: 280px;
  height: 330px;
  border: 1px solid lightblue; }
  .sale-item .sale-item__header, .sale-item .sale-item__footer {
    height: 50px;
    width: 80%; }
  .sale-item .sale-item__footer button {
    background-color: lightblue; }
  .sale-item .sale-item__header .glyphicon {
    cursor: pointer; }
  .sale-item .sale-item__photo {
    cursor: pointer; }
    .sale-item .sale-item__photo img {
      max-height: 230px;
      max-width: 230px; }
  .sale-item .sale-item__price {
    font-weight: bold; }

.content {
  overflow: auto; }

.content-header {
  min-height: 50px;
  border-bottom: 1px solid lightgray; }
  .content-header .breadcrumb-container {
    min-height: 30px;
    margin: 5px; }
    .content-header .breadcrumb-container .breadcrumb-item {
      margin-right: 5px; }
      .content-header .breadcrumb-container .breadcrumb-item .breadcrumb-item__name {
        cursor: pointer;
        font-weight: 700; }
      .content-header .breadcrumb-container .breadcrumb-item .breadcrumb-item__name--last {
        cursor: default;
        font-weight: 500; }
      .content-header .breadcrumb-container .breadcrumb-item .breadcrumb-item__icon {
        margin-left: 5px; }
  .content-header .filter-container {
    margin-right: 5px; }
    .content-header .filter-container .filter {
      width: 200px;
      padding: 2px 5px;
      border: 1px solid lightgray; }

.basket-container {
  height: 40px;
  margin-left: 20px; }
  .basket-container .basket-icon {
    cursor: pointer;
    margin-right: 10px;
    font-size: 26px; }

.basket-info-container {
  margin-bottom: 10px; }
  .basket-info-container .basket-comment {
    min-height: 70px;
    max-height: 170px;
    width: 100%;
    min-width: 100%;
    max-width: 100%; }
  .basket-info-container .basket-details md-input-container {
    padding-bottom: 0px; }

/* components styles*/
.menu {
  margin: 5px; }
  .menu .menu-item {
    display: inline-block; }
    .menu .menu-item:hover {
      background-color: lightblue; }
    .menu .menu-item.menu-item--active {
      background-color: lightskyblue; }
    .menu .menu-item a {
      display: block;
      margin-right: 1px;
      padding: 5px;
      text-decoration: none; }

.actions {
  margin: 5px 0; }

.action-button {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  height: 26px;
  min-width: 26px; }

.dialog_header {
  margin-bottom: 10px; }

.dialog_footer {
  margin-top: 10px; }

.dialog--picture-preview {
  width: 700px;
  height: 700px; }
  .dialog--picture-preview img {
    max-height: 500px;
    max-width: 500px; }

table {
  width: 100%;
  overflow-y: scroll;
  border: 1px solid lightgray;
  margin: 5px 0; }
  table th {
    background-color: lightskyblue; }
  table td {
    padding: 0px 2px; }
  table tr {
    width: 100%; }
    table tr:nth-child(2n) {
      background-color: lightcyan !important; }
    table tr:nth-child(2n+1) {
      background-color: transparent !important; }
    table tr.is-selected {
      transition: background-color 0.2s linear;
      background-color: lightskyblue !important; }
  table .td_5 {
    width: 5%; }
  table .td_10 {
    width: 10%; }
  table .td_15 {
    width: 15%; }
  table .td_20 {
    width: 20%; }
  table .td_25 {
    width: 25%; }
  table .td_30 {
    width: 30%; }
  table .td_33 {
    width: 33%; }
  table .td_40 {
    width: 40%; }
  table .td_50 {
    width: 50%; }
  table .td_66 {
    width: 66%; }
  table .td_70 {
    width: 70%; }
  table .td_100 {
    width: 66%; }
  table .input-field {
    border-bottom: 1px solid #000000; }
  table .number-field {
    text-align: right; }

.sign-in-form {
  width: 300px;
  padding: 10px;
  border: 1px solid lightgray; }
  .sign-in-form .sign-in-form__submit {
    width: 100%; }
  .sign-in-form .sign-in-form__guest {
    display: block;
    margin: 10px;
    float: right; }

.dialog--basket {
  width: 700px;
  height: 600px; }
  .dialog--basket md-content {
    padding-bottom: 0px; }
  .dialog--basket .basket-items__container {
    max-height: 295px;
    height: 295px;
    overflow: auto; }
  .dialog--basket .basket-items {
    max-height: 355px; }
    .dialog--basket .basket-items .basket-item__price-editor {
      text-align: right;
      width: 60px; }
    .dialog--basket .basket-items .basket-items--children {
      background-color: lightcyan; }
    .dialog--basket .basket-items .basket-item--center {
      text-align: center; }
    .dialog--basket .basket-items .basket-item--right {
      text-align: right; }
    .dialog--basket .basket-items .basket-item__cost {
      margin-right: 10px; }
  .dialog--basket .basket-total span {
    display: block;
    margin-right: 5px;
    font-size: larger; }

md-tabs {
  overflow: hidden !important; }

.md-tabs-content {
  height: calc(100% - 10px); }
  .md-tabs-content md-content {
    height: 100%;
    overflow: hidden; }

.order-item-details-content {
  position: absolute;
  width: 100%;
  min-height: 100px;
  height: calc(100% - 30px);
  overflow: overlay; }

.md-tab-content {
  height: calc(100% - 50px) !important; }

.main-content {
  height: calc(100% - 45px);
  overflow: hidden;
  position: absolute;
  width: 100%; }

.orders md-input-container {
  padding: 2px; }
.orders .orders__actions-block {
  position: absolute;
  width: 100%;
  bottom: 0;
  min-height: 40px;
  height: 40px; }

.order-tabs {
  position: absolute;
  height: 100%; }

.order-items {
  height: 100%; }

.order-item--header {
  height: 25px; }

.order-item--content {
  height: calc(100% - 25px);
  overflow: overlay; }

.order-item {
  width: 100%;
  cursor: pointer; }
  .order-item .order-item__date {
    width: 100px; }
  .order-item .order-item__user {
    widh: 300px; }
  .order-item .order-item__cost {
    width: 150px; }
  .order-item .order-item__approved {
    width: 100px; }
  .order-item .order-item__comment {
    width: 400px; }
  .order-item .order-item__delivery {
    width: 120px; }
  .order-item .order-item__completed {
    width: 120px; }

md-label {
  display: none; }

.order-item-details .order-item-details .order-item-details__small-img {
  cursor: pointer;
  height: 50px;
  width: 50px;
  padding: 5px; }

.dialog--photo {
  width: 400px;
  height: 520px; }
  .dialog--photo .photo-preview {
    width: 300px;
    height: 300px; }
    .dialog--photo .photo-preview img {
      width: 300px;
      height: 300px; }

.dialog--price {
  width: 600px;
  height: 525px; }
  .dialog--price .grid {
    height: 175px;
    width: 100%; }

.dialog--user {
  width: 650px;
  height: 425px; }

.dialog--category {
  width: 650px;
  height: 450px; }
  .dialog--category img {
    width: 250px;
    height: 250px; }

.dialog--set {
  width: 450px;
  height: 400px; }

.dialog--set-items {
  width: 1100px;
  height: 500px; }
  .dialog--set-items .grid {
    height: 250px; }

.dialog--sale-item {
  width: 650px;
  height: 425px; }

.dialog--sales-item__dtl {
  width: 650px;
  height: 350px; }

.form-element {
  padding-left: 5px;
  padding-bottom: 26px; }
  .form-element label {
    color: lightgray; }
  .form-element md-select {
    width: 100%; }

.print .print-options {
  margin: 10px 0 0 0; }
  .print .print-options input, .print .print-options select {
    margin: 0;
    padding: 0;
    height: 25px; }
.print .print-price-options, .print .print-group-options, .print .print-header-options {
  margin-top: 10px;
  height: 25px;
  line-height: 25px; }
.print .print-price-options label {
  vertical-align: top; }
.print table tr {
  background-color: transparent !important;
  border-bottom: 1px solid lightgray; }

@media print {
  html, body, h1, .print, .l-main__header, .l-main__footer, .l-main {
    margin: 0 !important;
    padding: 0 !important; }

  body {
    margin-left: 20px !important;
    width: 1080px;
    max-width: 1080px;
    min-width: 1080px; }

  .print {
    width: 1050px;
    font-size: 18px; }

  .no-print {
    display: none; }

  .l-main__header, .l-main__footer, .l-main, .l-main__content {
    float: none;
    width: 1080px;
    min-width: 1080px; } }

/*# sourceMappingURL=main.css.map */
